<tbody>
    <tr class="warning">
        <th style="width: 30px;"></th>
        <th style="width: 60px;">Team Name</th>
        <th style="width: 10%;">MP</th>
        <th style="width: 10%;">W&nbsp;</th>
        <th style="width: 10%;">D&nbsp;</th>
        <th style="width: 10%;">L&nbsp;</th>
        <th style="width: 10%;">GD</th>
        <th style="width: 10%;">Pts</th>
    </tr>
    <tr class="success">
        <td style="width: 5%;">1.</td>
        <td>Chelsea</td>
        <td>38</td>
        <td>30</td>
        <td>3</td>
        <td>5</td>
        <td>5</td>
        <td><b>93</b></td>
    </tr>
    <tr class="success">
        <td style="width: 5%;">2.</td>
        <td>Tottenham Hotspur</td>
        <td>38</td>
        <td>26</td>
        <td>8</td>
        <td>4</td>
        <td>4</td>
        <td><b>86</b></td>
    </tr>
    <tr class="success">
        <td style="width: 5%;">3.</td>
        <td>Manchester City</td>
        <td>38</td>
        <td>23</td>
        <td>9</td>
        <td>6</td>
        <td>6</td>
        <td><b>78</b></td>
    </tr>
    <tr>
        <td style="width: 5%;">4.</td>
        <td>Liverpool</td>
        <td>38</td>
        <td>22</td>
        <td>10</td>
        <td>6</td>
        <td>6</td>
        <td><b>76</b></td>
    </tr>
    <tr>
        <td style="width: 5%;">5.</td>
        <td>Arsenal</td>
        <td>38</td>
        <td>23</td>
        <td>6</td>
        <td>9</td>
        <td>9</td>
        <td><b>75</b></td>
    </tr>
    <tr>
        <td style="width: 5%;">6.</td>
        <td>Manchester United</td>
        <td>38</td>
        <td>18</td>
        <td>15</td>
        <td>5</td>
        <td>5</td>
        <td><b>69</b></td>
    </tr>
    <tr>
        <td style="width: 5%;">7.</td>
        <td>Everton</td>
        <td>38</td>
        <td>17</td>
        <td>10</td>
        <td>11</td>
        <td>11</td>
        <td><b>61</b></td>
    </tr>
    <tr>
        <td style="width: 5%;">8.</td>
        <td>Southampton</td>
        <td>38</td>
        <td>12</td>
        <td>10</td>
        <td>16</td>
        <td>16</td>
        <td><b>46</b></td>
    </tr>
    <tr>
        <td style="width: 5%;">9.</td>
        <td>AFC Bournemouth</td>
        <td>38</td>
        <td>12</td>
        <td>10</td>
        <td>16</td>
        <td>16</td>
        <td><b>46</b></td>
    </tr>
    <tr>
        <td style="width: 5%;">10.</td>
        <td>West Bromwich …</td>
        <td>38</td>
        <td>12</td>
        <td>9</td>
        <td>17</td>
        <td>17</td>
        <td><b>45</b></td>
    </tr>
    <tr>
        <td style="width: 5%;">11.</td>
        <td>West Ham United</td>
        <td>38</td>
        <td>12</td>
        <td>9</td>
        <td>17</td>
        <td>17</td>
        <td><b>45</b></td>
    </tr>
    <tr>
        <td style="width: 5%;">12.</td>
        <td>Leicester City</td>
        <td>38</td>
        <td>12</td>
        <td>8</td>
        <td>18</td>
        <td>18</td>
        <td><b>44</b></td>
    </tr>
    <tr>
        <td style="width: 5%;">13.</td>
        <td>Stoke City</td>
        <td>38</td>
        <td>11</td>
        <td>11</td>
        <td>16</td>
        <td>16</td>
        <td><b>44</b></td>
    </tr>
    <tr>
        <td style="width: 5%;">14.</td>
        <td>Crystal Palace</td>
        <td>38</td>
        <td>12</td>
        <td>5</td>
        <td>21</td>
        <td>21</td>
        <td><b>41</b></td>
    </tr>
    <tr>
        <td style="width: 5%;">15.</td>
        <td>Swansea City</td>
        <td>38</td>
        <td>12</td>
        <td>5</td>
        <td>21</td>
        <td>21</td>
        <td><b>41</b></td>
    </tr>
    <tr>
        <td style="width: 5%;">16.</td>
        <td>Burnley</td>
        <td>38</td>
        <td>11</td>
        <td>7</td>
        <td>20</td>
        <td>20</td>
        <td><b>40</b></td>
    </tr>
    <tr>
        <td style="width: 5%;">17.</td>
        <td>Watford</td>
        <td>38</td>
        <td>11</td>
        <td>7</td>
        <td>20</td>
        <td>20</td>
        <td><b>40</b></td>
    </tr>
    <tr class="danger">
        <td style="width: 5%;">18.</td>
        <td>Hull City</td>
        <td>38</td>
        <td>9</td>
        <td>7</td>
        <td>22</td>
        <td>22</td>
        <td><b>34</b></td>
    </tr>
    <tr class="danger">
        <td style="width: 5%;">19.</td>
        <td>Middlesbrough</td>
        <td>38</td>
        <td>5</td>
        <td>13</td>
        <td>20</td>
        <td>20</td>
        <td><b>28</b></td>
    </tr>
    <tr class="danger">
        <td style="width: 5%;">20.</td>
        <td>Sunderland</td>
        <td>38</td>
        <td>6</td>
        <td>6</td>
        <td>26</td>
        <td>26</td>
        <td><b>24</b></td>
    </tr>
    <tr class="warning">
        <td style="width: 130px;"></td>
        <td style="width: 240px;"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</tbody>